---
layout: tags
permalink: /tags/
title: Tags
search_exclude: true
---

<h2>Contents</h2>

{% if site.categories.size > 0 %}
<ul>
{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <li><a href="#{{ category_name }}">{{ category_name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    <h3 id ="{{ tag_name }}"><i class="fas fa-tags category-tags-icon"></i> {{ tag_name }}</h3>
    {% for post in site.tags[tag_name] %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <article class="archive-item">
      <p class="post-meta post-meta-title"><a class="page-meta" href="{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
    </article>
    {% endfor %}
{% endfor %}
